-# <!DOCTYPE html>
-# <html>
-#   <head>
-#     <title>Ecomm</title>
-#     <meta name="viewport" content="width=device-width,initial-scale=1">
-#     <%= csrf_meta_tags %>
-#     <%= csp_meta_tag %>
-#     <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

-#     <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
-#     <%= javascript_importmap_tags %>
-#   </head>

-#   <body>
-#     <main class="container mx-auto mt-28 px-5 flex">
-#       <%= yield %>
-#     </main>
-#   </body>
-# </html>
-# #### Above is the ERB equivalent 
!!! 5
%html
  %head
    %title Ecomm
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %main.container.mx-auto.mt-28.px-5.flex
      %nav.flex.w-full 
        %div.w-64.p-4.h-screen.bg-gray-600.top-0
          %div.flex
            = image_tag 'logo-png', class: 'w-16'
            %h1.text-md.py-2.text-gray-50.font-bold.hidden.md:block Ecomm Admin
      = yield
